<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
    <ion-content>
        <div class="row row-center">
            <div class="col col-center text-center">
                                <img src="img/bone.png" class= "animated bounceInDown" style="padding-top:20px; margin:0px -20px -40px 0px;">
                <h1 class="animated bounceInDown" on-tap="HelloWorld()" style="padding-bottom:20px;margin:0px -20px -40x 0px; color: #DDDDDD; sans-serif;  font-weight: bold; letter-spacing: -1px; line-height: 1;">KibbleBit</h1>
<button class="button button-outline button-block button-light animated bounceInUp" ui-sref="app.gallery">Go</button></div></div></ion-content></ion-view>