<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }"><ion-content class="center-content animated slideInUp"><i class="icon {{item.icon}}" style="font-size:22em;color:white"></i></p>

   





</ion-content>

<div ng-if="item.title == 'Settings'" class="row row-center" >
            <div class="col col-center text-center">
<ion-content>
<img src="img/bone.png" class= "animated bounceInDown" style="padding-top:20px; margin:0px -20px -40px 0px;">
<h1 class="fancytext animated bounceInDown" style="text-align: center; vertical-align: middle;">Check back later!</p>
</ion-content>
                
                
                </div>
                
                
</div>


        <div ng-if="item.icon" class="row row-center" >
            <div class="col col-center text-center">


                <ion-content style="padding-top:15%">
     <form ng-submit="submiton()">
         

           <button class="button button-block button-outline" type="submit" name="onbutton" height="200px" width="200px">
                     <img style="border-radius: 50%;" height="200px" width ="200px"src="img/feedbutton.png">
                     <h1 style="color: #DDDDDD; sans-serif; font-size: 35px; font-weight: bold; letter-spacing: -1px; line-height: 1;" >Feed Pet!</h1>
            </button>
        </form>


         <form ng-submit="submitoff()">
           <button class="button button-block button-positive" type="submit" name="offbutton">
             Off 
            </button>
        </form>

             

       
         <form ng-submit="submit()"  style="padding-top:20%">
                    <label class="item item-input item-stacked-label">
                        <input type="text" name="username" placeholder="Enter On or Off or..." ng-model="data.username">
                        <br>
                        <input type="search" name="myvar1" placeholder="Enter var1..." ng-model="data.myvar1">
                        <br>
                        <input type="text" name="myvar2" placeholder="Enter var2..." ng-model="data.myvar2">
                    </label>
 
                    <input class="button button-block button-positive" type="submit" name="submit" value="Submit to Remote Server">                    
                </form>
 

                    <div class="item item-text-wrap">
                        Server Response: <b ng-bind="response"></b>
                                            <p></p>
                                         <b>Var1 From Server:</b> </b><b ng-bind="myvar1response"> </b>
                                         <p></p>
                                         <b>Var2 From Server:</b><b ng-bind="myvar2response"></b>
                    </div>


</ion-content>

                
</div></div>



</ion-view>

